[Unit]
Description=RX868 Weather Sensor MQTT Client/Daemon
Documentation=https://github.com/janwh/rx868-mqtt-daemon
After=mosquitto.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/opt/rx868-mqtt-daemon/
ExecStart=/opt/rx868-mqtt-daemon/rxdec
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

